body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-image: url("/background.jpg");
}
.search-field {
  border: none;
  border-radius: 5px 0px 0px 5px;
  margin: 0 auto;
  padding: 10px;
  outline: none;
  width: 267.5px;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(3, 118, 211);
  width: 350px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 43px;
  
  
}
.search-button {
  padding:10px 17px!important;
  border-radius: 0px 3px 3px 0px!important;
  float: right;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  /* box-shadow: 5px 5px 5px grey; */
  box-shadow: 4px 4px 7px rgba(86, 150, 233,0.5);
  border-radius: 5px;
 
  margin-left: 25px;
  margin-bottom: 25px;
  height: 550px;
  background-color: #fff;
}

.single-product h3{ font-size: 20px; font-weight: bold;}
.single-product:hover {
  box-shadow: 5px 10px 10px rgb(140, 197, 219);
  border-radius: 10px;
  border: 3px solid rgba(63, 133, 238, 0.5);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: #fff;
}
.cart-main {
  padding-right: 30px;
}

.rating{
  background-color: rgb(245,248,255);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 25px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/*details single post*/
.details-single-post{
  background-color: rgba(63, 133, 238, 0.3);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  color:#fff;
  text-align: justify;
}


.details-single-post button{

  font-size: 18px;
  padding: 5px 15px;
}